body {
  font-family:Helvetica, Arial, sans-serif;
  text-align: justify;
}
#colorstrip{
	width: 100%; height: 25px;
	border-style: none;
	border-color: #00274C;
	background: #00274C; /* Old browsers */
}
#canvas { 
  width:800px;
  height:100%;
  margin:0px auto;
  background-color:#ffffff;
  border-right:1px solid #b4b4b4;
  border-left:1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
}
#main {
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}
hr {
  background-color: #b4b4b4;
  color: #b4b4b4;
}
a { 
  font-weight:bold;
  text-decoration:none;
  color:#00274C; // Michigan blue
}
a:hover {
  text-decoration:underline;
  color:#00274C;
  cursor:pointer;
}